<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mobile App Form</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="card" style="width: 70%;">
    <div class="card-header">
        <div th:if="${mobileApp.name == null}">
            <h5 class="card-title">New Formmmm</h5>
        </div>
        <div th:unless="${mobileApp.name == null}">
            <h5 class="card-title" th:text="${mobileApp.name} + ' Form'"></h5>
        </div>
    </div>

    <div class="card-body">
        <form th:action="@{/app/save}" th:object="${mobileApp}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="form-group">
                <label for="name">Name</label>
                <!--
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                -->
                <input type="text" class="form-control" id="name" th:field="*{name}">
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" rows="3" th:field="*{description}"></textarea>
            </div>

            <div class="form-group">
                <label for="cost">Cost</label>
                <input type="text" class="form-control" id="cost" th:field="*{cost}">
            </div>

            <div class="form-group">
                <label for="platformType">Platform Type</label>

                <select class="custom-select mr-sm-2" id="platformTypeNum" name="platformTypeNum">

                    <div th:if="${mobileApp.platformType == null}">
                        <option th:each="p: ${platformTypes}" th:text="${p.name}"
                                th:selected="${p.id == 1}"
                                th:value="${p.id}">
                    </div>
                    <div th:unless="${mobileApp.platformType == null}">
                        <option th:each="p: ${platformTypes}" th:text="${p.name}"
                                th:selected="${p.id == mobileApp.platformType.id}"
                                th:value="${p.id}">

                        </option>
                    </div>

                </select>
            </div>

            <div class="form-group">
                <label for="currentVersion">Current Version</label>
                <input type="text" class="form-control" id="currentVersion" th:field="*{currentVersion}">
            </div>

            <div class="form-group">
                <label></label>

                <div th:if="${mobileApp.id} == null">
                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
                    <a th:href="@{/}" class="btn btn-primary btn-sm">Back to Homepage</a>
                </div>
                <div th:unless="${mobileApp.id} == null">
                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
                    <a th:href="@{/app/} + ${mobileApp.id} + @{/view}" class="btn btn-primary btn-sm">Back to view detail</a>
                </div>

            </div>
        </form>
    </div>

</div>

</body>
</html>