<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mobile App Detail view.</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="card" style="width: 70%;">
    <div class="card-header">
        <h5 class="card-title" th:text="${mobileApp.name} + ' Detail'"></h5>
    </div>

    <div class="card-body">

        <div th:if="${mobileApp.image == null}">
            <img class="card-img-top" src="http://placehold.it/700x400" style="width:200px;height:100px;" alt="No Image">
        </div>

        <div th:unless="${mobileApp.image == null}">
            <img class="card-img-top" th:src="@{/app/} + ${mobileApp.id} + @{/renderImageFromDB}" style="width:200px;height:100px;" th:alt="${mobileApp.name}">
        </div>
        </a>

        <p class="card-text" style="width:50%;" th:text="${mobileApp.description}">
        </p>
        <p class="card-text" style="width:50%;" th:text="'Platform: ' + ${mobileApp.platformType == null ? 'N/A' : mobileApp.platformType.name}"></p>
        <p class="card-text" style="width:50%;" th:text="'Cost: ' + ${mobileApp.cost == 0.00 ? 'Free' : '$' + mobileApp.cost}"></p>
        <p class="card-text" style="width:50%;" th:text="'Current Version: v' + ${mobileApp.currentVersion}"></p>
        <p class="card-text" th:text="'Avg Rating: ' + ${#numbers.formatDecimal(mobileApp.avgRating,1,2)} + ' out of 5 (' + ${mobileApp.getRatings().size()} + ' total Ratings)'"></p>

        <a href="$" th:href="@{/app/} + ${mobileApp.id} + @{/uploadImage}" class="btn btn-primary btn-sm">Modify Image</a>
        <a th:href="@{/app/} + ${mobileApp.id} + @{/edit}" class="btn btn-primary btn-sm">Edit App</a>
        <a th:href="@{/app/} + ${mobileApp.id} + @{/delete}" class="btn btn-primary btn-sm">Delete App</a>
    </div>

    <div class="card-header">
        <h5 class="card-title">App Ratings</h5>
    </div>

    <div class="card-body">
        <div th:if="${mobileApp.ratings.size() == 0}">
            <p class="card-text">No ratings</p>
        </div>
        <div th:unless="${mobileApp.ratings.size() == 0}">
            <table class="table table-borderless table-sm">
                <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Comments</th>
                    <th scope="col">Rating</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rating: ${mobileApp.ratings}">
                    <td valign="top" th:text="${rating.username}"></td>
                    <td valign="top" th:text="${rating.comments}"></td>
                    <td valign="top">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734; <!--<label th:text="'(' + ${rating.rating} + ')'"></label>-->
                            <label th:text="'(' + ${#numbers.formatDecimal(rating.rating,1,2)} + ')'"></label>
                        </small>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <br>
        <!--
        <a th:href="@{/mobileApp/} + ${mobileApp.id} + @{/rate/new}" class="btn btn-primary btn-sm">Rate App</a>
        -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rateAppModal" app-ID="${mobileApp.id}">Rate App</button>

        <div class="modal fade" id="rateAppModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" th:text="'Rate ' + ${mobileApp.name}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form th:object="${mobileApp}" th:action="@{'/app/'} + ${id} + @{/saveRateIt}" method="post">
                            <div class="form-group">
                                <label for="username" class="col-form-label">Username:</label>
                                <input type="text" class="form-control" id="username" name="username">
                            </div>
                            <div class="form-group">
                                <label for="comments" class="col-form-label">Comments:</label>
                                <textarea class="form-control" id="comments" name="comments"></textarea>
                            </div>
                            <div class="form-group">

                                <label for="rating">Rating</label>
                                <input type="range" class="form-control-range" id="rating" name="rating" min="1" max="5">

                            </div>

                            <div class="form-group">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Rate App</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card-header">
        <h5 class="card-title">Reviews</h5>
    </div>

    <div class="card-body">
        <div th:if="${mobileApp.reviews.size() == 0}">
            <p class="card-text">No Reviews</p>
        </div>

        <div th:unless="${mobileApp.reviews != null}">
            <table class="table table-borderless">
                <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Comments</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="review: ${mobileApp.reviews}">
                    <td valign="top" th:text="${review.username}"></td>
                    <td valign="top" th:text="${review.review}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <br>
        <a th:href="@{/app/} + ${mobileApp.id} + @{/review/new}" class="btn btn-primary btn-sm">Review App</a>

    </div>

    <div class="card-footer">
        <small class="text-muted" th:text="'Total Ratings: ' + ${mobileApp.getRatings().size()}"></small><br>
        <small class="text-muted">Avg. Rating: &#9733; &#9733; &#9733; &#9733; &#9734; <label th:text="'(' + ${#numbers.formatDecimal(mobileApp.avgRating,1,2)} + ')'"></label></small>

        <br><br>
        <a th:href="@{/}" class="btn btn-primary btn-sm">Back to homepage</a>
    </div>
</div>

</body>
</html>